################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Langlay.Common/obj/Debug
/Langlay.SettingsUi/obj/Debug
/Langlay.App/bin/Debug
/Langlay.App/obj/Debug
/.vs/Langlay/v14
/UpgradeLog.htm
